# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List libraries used by Data Scientists
* List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. Matplotlib
5. Scikit-learn

| Data Science Tools |
|:-------------------|
| Weka |
| Java-ML |
| Deeplearning4 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [51]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [52]:
# This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author
Bohdan